html{
  font-size: 1rem;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
}
.card{
  h6{
    font-weight: 700;
    color: $gray-600;
    margin-top: 1rem;
  }
  ul{
    padding-left: 0;
    list-style-type: none;
    font-size: .8rem;
  }
}

.sidebar{
  .nav-item{
    transition: all .3s ease-out;
    &:hover{
      background-color: rgba(0,0,0,.2);
    }
  }
  .nav-item.active{
    background-color: rgba(0,0,0,.2);
  }
}

.bg-gradient-primary{
  background-image: linear-gradient(180deg,$medidoc-primary 10%,$medidoc-secondary 100%);
}

//Nav

.sidebar .nav-item .nav-link span{
  font-size: .8rem;
}
@include respond-above(sm){
  .sidebar .nav-item .nav-link span{
    font-size: 1rem;
  }
}

//General Button

.btn{
  //text-transform: uppercase;
  //font-size: .6rem;
}

//Brand

@include respond-above(sm){
  .sidebar-brand-icon{
    display: none;
  }
  .sidebar-brand{
    display: block;
  }
}
@include respond-below(sm){
  .sidebar-brand{
    display: none;
  }
}


//Icon Button

.btn-icon{
  padding: 0 .5rem;
  text-align: center;
  transition: $transition-btn;
  &:hover{
    color: $medidoc-primary;
    text-decoration: none;
  }
}
.btn-icon--state-danger{
  color: $red;
}
.btn-icon--state-info{
  color: $blue-medidoc;
}

// Pagination

.page-item.active{
  .page-link{
    background-color: transparent;
    border-color: transparent;
    color: $medidoc-secondary;
    font-weight: 700;
  }
}

.page-link{
  color: $gray-800;
  border: none;
  background-color: transparent;
  font-size: .8rem;
}

//Nav Pills

.nav-pills-medidoc{
  .nav-link{
    font-size: .8rem;
  }
}

//Card Cuentas

.bill-description{
  font-size: .8rem;
}
.bill-value {
  background-color: $gray-200;
  margin-right: -1.25rem;
  margin-left: -1.25rem;
  font-size: 1rem;
  padding: .5rem 1.25rem;
  color: $green;
  .value{
    font-size: 1.4rem;
  }
}

// Button Text

.btn-text{
  text-transform: uppercase;
  color: $medidoc-primary;
  text-decoration: none;
  font-size: .8rem;
  font-weight: 700;
  padding: 1rem;
  &:hover{
    text-decoration: none;
    background-color: $gray-100;
  }
}

//Modal Bill

.modal-body--bill{
  .btn-circle.btn-sm{
    height: 1.2rem;
    width: 1.2rem;
    font-size: .5rem;
  }
}

.modal-footer{
/*  .btn{
    font-size: .6rem;
  }*/
}

// Card Docs

.card-docs{
  label{
    //line-height: 2.2;
    font-size: 1rem;
  }
}

.label-medico{
  width: 150px;
}

.badge-horario-medico{
  padding: .5rem .75rem;
}

//Chat

.bubble-chat{
  border-radius: 10px 10px 10px 0px;
  padding: .75rem;
  .data-message{
    opacity: .5;
  }
}

.bubble-chat--user{
  background-color: $medidoc-secondary;
  border: 1px solid $medidoc-secondary;
  color: $white;
}

.bubble-chat--doctor{
  background-color: $white;
  border: 1px solid $gray-500;
  border-radius: 10px 10px 0 10px;
}

//Messages

@include respond-above(sm){
  .badges-tabs-messages{
    border-bottom: 1px solid #e3e6f0;
  }
}

.avatar{
  small{
    line-height: 1;
    font-weight: 700;
  }
}

// Informes

.card-informes{
  .custom-control-label{
    line-height: 2;
  }
}
